<h3>Events</h3>
<hr/>
<form action="">
  <div class="form-group mb-2"> 
    <input 
    type="text" 
    class="form-control mr-2" 
    placeholder="Search here..."
    name="searchInput"
    [(ngModel)]="searchTerm"    
    (input)="filterEvents()"
    />

  </div>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Theme</th>
      <th>Local</th>
      <th>Date</th>
      <th>People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngIf="events.length === 0">
      <td colspan="8" class="text-center">No data found</td>
    </tr>
      <tr *ngFor="let event of events">
        <td>{{ event.eventId }}</td> <!-- Event ID -->
        <td><img src="/assets/{{event.imageURL}}" alt="Event Image" width="100"></td>
        <td>{{ event.theme }}</td> <!-- Event Theme -->
        <td>{{ event.local }}</td> <!-- Event Local -->
        <td>{{ event.eventTime }}</td> <!-- Event Date -->
        <td>{{ event.people }}</td> <!-- Event People -->
        <td>{{ event.lot }}</td> <!-- Event Batch -->
        <td>
          <div class="d-flex">
            <button class="btn btn-info btn-sm w-100 mr-2">Edit</button>
            <button class="btn btn-danger btn-sm w-100" >Delete</button>
          </div>
      
        </td>
      </tr>
 
</table>

